version: "3.8"

services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.11.1
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"       # HTTP
      - "81:81"       # Web UI
      - "443:443"     # HTTPS
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
